<a href="/user-page">Go back to User page</a>

<h2>Delete user:</h2>

<form action="/delete" method="POST">

<label for="username">Insert username to delete:</label>
<input type="text" name="username" id="username">
<button type="submit">Delete</button>

</form>